main {
  font-family: Arial, sans-serif;
  background-color: #a22b55;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #75203f;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.table {
  display: table;
  width: 100%;
  background-color: #75203f;
}

.table-row {
  display: table-row;
}

.table-cell {
  display: table-cell;
  padding: 10px;
  vertical-align: top;
}

label {
  font-weight: bold;
  color: #fff;
}

input[type="text"],
input[type="password"],
input[type="email"],
select,
textarea {
  width: 70%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="radio"],
input[type="checkbox"] {
  margin-left: 5px;
}

.checkbox-label {
  margin-right: 15px;
}

.btn-container {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn-register {
  background-color: #fff;
  color: #000;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  width: 90%;
}
