html,body {
    height:100%;
    margin: 0;
}

div {
    margin-top: .2em;
    margin-bottom: 0px;
    width: 100%;
    height: 8%;
}


p {
   font-size: 1.5em;
   margin-top: 0px;
   margin-bottom: 0px;
}

button {
    width: 8.96%;
    height: 100%;
    font-weight: bold;
    border-bottom-color: lightgrey;
    border-bottom-width: .2em;
    border-top-width: .2em;
    border-radius: 25% 25% 25% 25%;
    outline: none;
}

#ca {
    width: 100%;
    height: 60%;
}

#a {
    margin-left: 1.367em;
}

#z {
    margin-left: 4em;
}