@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap");

html {
  height: 100%;
  background: #0F2C59;
}

#container {
  height: 450px;
  width: 550px;
  background-color: #DAC0A3;
  margin: 100px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 0px 0px #243859;
  position: relative;
  font-family: "Roboto", sans-serif;
}

#score {
  color: white;
  position: absolute;
  right: 10px;
  font-size: 25px;
}

#correct {
  position: absolute;
  left: 250px;
  background-color: #42e252;
  color: white;
  padding: 5px 12px;
  display: none;
}

#wrong {
  position: absolute;
  left: 250px;
  background-color: #de401a;
  color: white;
  padding: 5px 12px;
  display: none;
}

#ques {
  width: 450px;
  height: 150px;
  margin: 50px auto 10px auto;
  background-color: #334155;
  font-size: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

#choices {
    width: 450px;
    height: 100px;
    margin: 5px auto;
  }
#inst {
  width: 450px;
  height: 50px;
  margin: 10px auto;
  text-align: center;
  line-height: 45px;
  color: white;
}


.box {
  margin-right: 36px;
  width: 85px;
  height: 85px;
  background-color: white;
  float: left;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0px 4px black;
  text-align: center;
  line-height: 80px;
  position: relative;
  transition: all 0.2s;
}

.box:hover,
#startreset:hoover {
  background-color: #9c89f6;
  color: white;
  box-shadow: 0px 4px #6b54d3;
}

.box:active,
#startreset:active {
  box-shadow: 0px 0px #6b54d3;
  top: 4px;
}
#startreset {
    width: 150px;
    padding: 10px;
    background-color: lawngreen;
    margin: 0 auto;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
    transition: all 0.2s;
  }

#box4 {
  margin-right: 0;
}


#gameOver {
    height: 200px;
    width: 500px;
    background: black;
    color: white;
    font-size: 2.3em;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    top: 100px;
    left: 45px;
    z-index: 2;
    display: none;
  }

#timeremaining {
  color: red;
  padding: 10px;
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 5px;
  display: none;
  font-weight: 500;
  font-size: 30px;
}

