@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Lobster&display=swap');
*{margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Josefin Sans', sans-serif;
}
body{
    background-color: #444141;
}
.card{
    width:90%;
    max-width: 70vw;
    background: linear-gradient(135deg,#00feba,#5b548a);
    color:#ffffff;
    margin: 100px auto 0px;
    border-radius: 20px;
    padding: 40px 35px;
    /* text-align: center; */

}
.search{
    /* border-radius: 20px; */
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;

}
.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
color: #555;
padding: 10px 25px;
height: 60px;
border-radius: 30px;

flex:1;
margin-right: 16px;
font-size: 20px;
}
.search button img{
    width: 16px;
  

}
.search button{
    border-radius: 50%;
    border: 0;
    outline: 0;
    background: #ebfffc;
    cursor: pointer;
    width: 60px;
    height: 60px;
}
.search button:hover{
    background-color: #fff;

}
.result{
   
    position: relative;
    display: none;
}

.word{
    /* display: none;
     */
     display: flex;
     margin-top: 4vh;
     /* flex-direction: column; */
     /* align-items: flex-start; */
     justify-content: space-between;
     /* gap: 1vh; */
}
.word h3{
    font-size: 35px;
    color: black;
}
.word button{
    background: transparent;
    border: 0px;
    cursor: pointer;
    outline: none;
    font-size: 20px;
    color: antiquewhite;
}
.result .details{
display: flex;
flex-direction: row;
gap: 2vw;
color: rgb(255, 249, 249);
margin: 5px 0 20px 0;

font-size: 20px;
/* justify-content: center; */
align-items: flex-start;

}
.word-meaning {
    color: #f4f5fb;
  /* text-align: left; */
  font-size: 25px;

}
.word-example{
    color: #f4f5fb;
    font-style: italic;
    border-left: 5px solid grey;
    padding-left: 20px;
    margin-top: 1vh;
    font-size: 20px;
}
@media(max-width:716px){
    .card{
        width: fit-content;
        padding: 10px;
    }
    .col img{
        width: 5vw;
    }
    .humidity,.wind{
        font-size: 15px;
    }
    .search button{
        width: 20px;
        height: 30px;
    }
    #searchinput{
        width:45vw;
    }
    .col div{
        font-size: 10px;
        margin-left: 1vw;
    }
    .col{
        padding: 5px;
    }
    .errormessage{
        font-size: 10px;
    }
}
.errormessage{
    margin-top: 2vh;
    text-align: left;
    margin-left: 2vw;
    font-size: 15px;
display: none;
color: red;
}